@import "tailwindcss";

@theme {
  /* COLOR PALETTE */
  --color-primary: #0f1413;
  --color-secondary: #2e4f3f;
  --color-tertiary: #d6cbb3;
  --color-accent: #18230f;
  --color-text: #e6eae7;
  --color-background: #1a201e;
  --color-border: #2f3633;
  --color-highlight: #758d71;
  --color-alert: #b5533c;
  --color-success: #bfd8b8;

  /* FONT */
  --font-display: "Poppins", sans-serif;
}

@layer base {
}

@layer base {
  /* HEADERS */
  h1 {
    @apply text-4xl font-bold text-text;
  }
  h2 {
    @apply text-3xl font-semibold text-text;
  }
  h3 {
    @apply text-2xl font-semibold text-text;
  }
  h4 {
    @apply text-xl font-medium text-text;
  }
  h5 {
    @apply text-lg font-medium text-text;
  }
  h6 {
    @apply text-base font-medium text-text;
  }

  /* UI */
  main {
    @apply flex min-h-dvh min-w-dvh relative bg-background;
  }
  section {
    @apply flex px-16 py-4  flex-col overflow-y-hidden flex-1;
  }
  input {
    @apply px-4 pb-2 pt-6 bg-primary rounded-md shadow-md w-full border-border/80 border text-lg tracking-wider text-text;
  }

  /* CUSTOM CLASSES */
  .sidebar-item {
    @apply flex items-center gap-2 p-3 hover:cursor-pointer rounded-lg active:scale-125 duration-300;
  }

  .section-container {
    @apply bg-secondary my-4 rounded-l-4xl text-white shadow-white/5 shadow-xl;
  }
}
