@import "tailwindcss";

@theme {
  /* COLOR PALETTE */
  --color-primary: #0f1413;
  --color-secondary: #2b3a37;
  --color-tertiary: #27391c;
  --color-accent: #18230f;
  --color-text: #1d3e22;
  --color-background: #262626;
  --color-border: #1a2d18;

  /* FONT */
  --font-display: "Poppins", sans-serif;
}

@layer base {
}

@layer base {
  /* HEADERS */
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }

  /* UI */
  main {
    @apply flex min-h-dvh min-w-dvh relative bg-primary;
  }
  section {
    @apply flex px-16 py-4  flex-col overflow-y-hidden flex-1;
  }
  input {
    @apply px-4 pb-2 pt-6 rounded-md shadow-md w-full border-white/80 border text-lg tracking-wider;
  }

  /* CUSTOM CLASSES */
  .sidebar-item {
    @apply flex items-center gap-2 p-3 hover:cursor-pointer bg-secondary rounded-lg active:scale-125 duration-300;
  }

  .section-container {
    @apply bg-secondary my-4 rounded-l-4xl text-white shadow-white/5 shadow-xl;
  }
}
